<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.victor.inbounddirect">

    <application>
        <activity
            android:name=".ui.activity.InboundAddActivity"
            android:configChanges="screenLayout|screenSize|smallestScreenSize|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.activity.InboundScanActivity"
            android:configChanges="screenLayout|screenSize|smallestScreenSize|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.activity.InboundCategoryActivity"
            android:configChanges="screenLayout|screenSize|smallestScreenSize|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
    </application>

</manifest>